<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebApplication" guice-stage="DEVELOPMENT">
  <test thread-count="5" name="Default test" verbose="2">
     <packages>
        <!-- Replace 'your.base.package' with your actual base package name -->
        <package name="allCourseModule" />
        <package name="cartPageModule" />
        <package name="createAccountModule" />
        <package name="landingPageModule" />
        <package name="myCoursePageModule" />
        <package name="profilePageModule" />
        <package name="signInPageModule" />
        <package name="testcases" />
        <package name="testcase_assessment_module" />
    </packages>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->